@charset "UTF-8";
@import url("//hello.myfonts.net/count/32edde");
.my-box { padding: 10px; }

@media (min-width: 1200px) { .my-box { padding: 20px; } }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background-color: #a30723; }

@font-face { font-family: 'LTCTwentiethCenturyMedium'; src: url("../fonts/32EDDE_0_0.eot"); src: url("../fonts/32EDDE_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/32EDDE_0_0.woff2") format("woff2"), url("../fonts/32EDDE_0_0.woff") format("woff"), url("../fonts/32EDDE_0_0.ttf") format("truetype"); }

body { color: #6c6e70; font-family: "Open Sans", Helvetica, Arial, sans-serif; line-height: 1.2; }

h1, h2, h3, h4, h5 { font-weight: normal; }

h1 b, h2 b, h3 b, h4 b, h5 b { font-weight: normal; }

h2.page-header { margin: -15px 0 10px; padding-bottom: 0; border-bottom: 0; color: #a30723; text-transform: uppercase; font-weight: normal; font-size: 50px; font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; line-height: 1.2; }

@media (max-width: 599px) { h2.page-header { font-size: 40px; } }

.wpb_text_column.page-header { margin: 0; border-bottom: 0; }

.wpb_text_column.page-header h2 { margin: 0; padding-bottom: 0; border-bottom: 0; color: #a30723; font-weight: normal; font-size: 50px; font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; line-height: 1.2; }

h3 { margin-top: 0; font-weight: normal; font-size: 16px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

p { font-size: 14px; font-family: "Open Sans", Helvetica, Arial, sans-serif; line-height: 1.25; }

.image-caption { margin-top: 5px; margin-right: 20px; margin-bottom: 0; font-size: 9px; line-height: 1.2; }

.photo-credit { margin-top: 5px; margin-bottom: 10px; text-align: right; text-transform: uppercase; font-weight: 300; font-size: 10px; font-family: "Open Sans", Helvetica, Arial, sans-serif; color: #6c6e70; }

a { color: #a30723; }

.social-links li { margin-right: 5px; }

.social-links li a { color: #6c6e70; }

.social-links li i.fa { font-size: 22px; }

body { background-color: #e2e2e2; }

body > .container { background-color: #fff; }

@media all and (min-width: 1200px) { .container { width: 960px; } }

@media all and (min-width: 992px) { .container { width: 960px; } }

.wpb_content_element { margin-bottom: 10px; }

.vc_column_container > .vc_column-inner { box-sizing: border-box; padding-right: 30px; padding-left: 30px; width: 100%; }

.wpb_column:first-child > .vc_column-inner { padding-left: 15px; }

.wpb_column:last-child > .vc_column-inner { padding-right: 15px; }

.row-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (max-width: 599px) { .row-flex { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media (max-width: 599px) { .row-flex > div { width: 100% !important; } }

textarea { border-color: #bfbfbf !important; }

.ngg-navigation a.next, .ngg-navigation a.page-numbers, .ngg-navigation a.prev, .ngg-navigation span.next, .ngg-navigation span.page-numbers, .ngg-navigation span.prev { margin-right: 0; padding: 0; border: 0 !important; color: #a30723 !important; text-decoration: none; }

.gform_wrapper { padding: 10px; border: 1px solid #a1a2a1 !important; margin-top: 0; }

.gform_wrapper span.ginput_total { color: #6c6e70; font-size: inherit; }

.gform_wrapper h3.gform_title { font-weight: normal !important; text-transform: uppercase; }

.gform_wrapper select { padding-right: 22px; -webkit-appearance: none; background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxNiAyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+ZHJvcGFycm93PC90aXRsZT48cGF0aCBkPSJNMCA3LjM0NGgxMC41bC01LjI1IDUuNTY2LTUuMjUtNS41NjV6IiBmaWxsPSIjNGU0ZTRlIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") right center no-repeat !important; border: 1px solid #bfbfbf; border-radius: 0; padding: 9px 12px; height: 33px; line-height: 1; }

.gform_wrapper input[type="text"] { border: 1px solid #bfbfbf; }

.gform_button.button { color: #a30723; font-weight: bold; text-transform: uppercase; -moz-appearance: none; -webkit-appearance: none; background-color: #fff; border: 0; padding: 0; }

.gform_wrapper .gform_footer { padding: 0; margin: 5px 0 0; clear: both; width: 100%; }

.gform_wrapper h3.gform_title { font-weight: normal !important; }

.gform_wrapper label.gfield_label { margin-bottom: 0 !important; font-size: 12px !important; font-size: inherit; }

body .gform_wrapper .top_label div.ginput_container { margin-top: 0 !important; }

.column .gform_wrapper { margin-top: 0 !important; }

.ginput_complex label, .ginput_container_radio label { font-weight: normal; }

.trustees .col-left h3, .trustees .col-main h3, .trustees .col-right h3 { text-transform: uppercase; font-weight: bold; font-size: 14px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.trustees .trustee-list p { margin-bottom: 6px; font-weight: 300; font-size: 12px; font-family: "Open Sans", Helvetica, Arial, sans-serif; line-height: 1.33; }

.trustees .trustee-list p i { font-weight: 300; font-style: italic; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.trustees .trustee-list h4 { margin-top: 20px; margin-bottom: 3px; font-weight: 700; font-size: 12px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.trustees .trustee-list h4:first-of-type { margin-top: 0; }

.trustees .col-left { margin-right: 60px; width: 475px; }

.trustees .col-main { margin-right: 60px; width: 786px; }

.trustees .col-right { width: 390px; }

.trustees .col-right h3 { letter-spacing: 0.08em; word-spacing: .1em; }

.trustees .trustee-photos li:last-child { margin-top: 20px; }

.trustees .trustee-pdf-downloads { margin-top: 30px; padding-top: 10px; padding-bottom: 5px; border-top: 4px solid #000; border-bottom: 4px solid #000; }

.trustees .trustee-pdf-downloads ul { padding-left: 0; list-style: none; }

.trustees .trustee-pdf-downloads ul li { margin-bottom: 10px; }

.trustees .trustee-pdf-downloads ul li a { padding: 6px 6px 4px; border-radius: 6px; background-color: #6d6e70; color: #fff; text-transform: uppercase; font-size: 9px; }

.page-participate h4 { margin-top: 10px; margin-bottom: 3px; color: #a30723; font-weight: bold; font-size: 14px; font-family: "Open Sans", Helvetica, Arial, sans-serif; line-height: 1.4; }

.page-participate .middle-column ul { list-style: none; padding: 0; margin: 0; }

.page-participate .middle-column li { padding-left: 1em; text-indent: -.7em; }

.page-participate .middle-column li:before { content: "• "; color: #a30723; }

.page-participate .middle-column h4 { margin-top: 0; }

.page-participate .right-column ul { list-style: none; padding: 0; margin: 0; }

.page-participate .right-column li { padding-left: 1em; text-indent: -.7em; }

.page-participate .right-column li:before { content: "• "; color: #a30723; }

.page-participate .left-column img { margin-top: 60px; }

.page-participate ul { padding-left: 1em; }

.page-participate li { margin-bottom: 10px; }

.page-participate li b { color: #a30723; font-weight: normal; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-participate .address { margin-left: 20px; }

.page-participate .gform_title { text-transform: uppercase; font-weight: 300; font-size: 18px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-participate blockquote { padding-top: 0; border-left: 0; }

.page-press .dmbs-main h3 { margin-bottom: 5px; color: #6c6e70; text-transform: uppercase; font-weight: bold; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-press .news-content { font-size: 13px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-press .news-source { margin-bottom: 2px; font-weight: bold; font-size: 12px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-press .news-date { margin-bottom: 10px; font-weight: 300; font-size: 12px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-press .news-link { margin-top: 10px; }

.page-press .news-link a { color: #a30723; text-transform: uppercase; font-family: Georgia, "Times New Roman", Times, serif; }

.page-press .news-item-block { padding-top: 10px; border-top: 4px solid #000; }

@media (max-width: 599px) { .page-press .news-item-block { margin-bottom: 30px; } }

.page-press .news-past-link { margin-top: 40px; font-weight: bold; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-press .news-past-link a { color: #a30723; }

.page-press .byline { font-style: italic; }

.page-press .press-release-block { margin-bottom: 20px; font-size: 13px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-press .press-release-block .date { font-size: 12px; }

.page-press .press-release-block h4 { margin-top: 5px; margin-bottom: 3px; font-weight: bold; font-size: 14px; }

.page-press .press-release-block a { text-transform: uppercase; }

.page-welcome .row-flex { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.page-welcome .dmbs-content { position: relative; margin-bottom: -21px; min-height: 660px; background-image: url("../images/member-patterson-michael.jpg"); background-position: 30px bottom; background-repeat: no-repeat; }

@media (max-width: 599px) { .page-welcome .dmbs-content { min-height: 0; background-image: none; } }

.page-welcome .col-right { margin-right: 60px; width: 315px; }

@media (max-width: 599px) { .page-welcome .col-right { width: 100%; } }

.page-welcome .col-right .extra-block { margin-top: 60px; }

@media (max-width: 599px) { .page-welcome .col-right .extra-block { margin-top: 0; } }

.page-welcome .col-center { margin-right: 50px; }

@media (max-width: 599px) { .page-welcome .col-center { margin-right: 0; width: 100%; }
  .page-welcome .col-center > ul > li { margin-bottom: 20px !important; } }

.page-welcome .col-center > ul > li:first-child { margin-bottom: 50px; }

.page-welcome .bottom-credit { position: absolute; right: 30px; bottom: 0; }

@media (max-width: 599px) { .page-welcome .bottom-credit { display: none; } }

.page-exhibitions .exhibition-tiles { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.page-exhibitions .exhibition-tiles .tile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-right: 15px; margin-bottom: 15px; padding: 40px; width: 284px; height: 284px; background-size: cover; background-repeat: no-repeat; }

@media (max-width: 599px) { .page-exhibitions .exhibition-tiles .tile { margin-right: 0; width: 100%; } }

.page-exhibitions .exhibition-tiles .tile .exhibition-title { color: #fff; font-weight: bold; font-size: 32px; font-family: "Open Sans", Helvetica, Arial, sans-serif; line-height: 1; }

.page-exhibitions .exhibition-tiles .tile .exhibition-title a { color: #fff; }

.page-exhibitions .exhibition-tiles .tile .exhibition-title a:hover { text-decoration: none; }

.page-exhibitions .exhibition-tiles .tile .exhibition-subtitle { color: #fff; font-size: 24px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-exhibitions .row-bottom { margin-top: 20px; }

.page-exhibitions .row-bottom .caption p { margin-right: 20px; font-size: 20px; line-height: 26px; }

.page-exhibitions .row-bottom .opportunities { padding-left: 10px; border-left: 6px double #6c6e70; font-size: 17px; line-height: 24px; }

.page-exhibitions .row-bottom .opportunities .opportunities-title { margin-bottom: 5px; text-transform: uppercase; font-size: 30px; font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; }

.page-history .image-space-top { margin-top: 25px; }

.page-news .profile-date { font-size: 12px; }

.page-news .dmbs-main h3 { margin-bottom: 10px; color: #6c6e70; text-transform: uppercase; font-weight: bold; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-news .profile-hed { margin-top: 5px; font-weight: bold; font-size: 20px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-news .profile-dek { margin-top: 3px; font-style: italic; font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; line-height: 1.33; }

.page-news .profile-byline { margin-top: 3px; text-transform: uppercase; font-weight: bold; font-size: 11px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-news .profile-content { margin-top: 15px; }

.page-news .profile-content p { font-family: Georgia, "Times New Roman", Times, serif; }

.page-news .dispatch { margin-bottom: 15px; }

.page-news .dispatch-date { font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-news .dispatch-hed { margin-top: 5px; margin-bottom: 3px; font-weight: bold; font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-news .dispatch-content p { font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-home .waa-now { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 30px; text-align: center; }

.page-home .waa-now h1 { margin-top: 24px; margin-bottom: 5px; text-transform: uppercase; font-weight: normal; font-size: 45px; }

@media (max-width: 599px) { .page-home .waa-now h1 { font-size: 34px; } }

.page-home .waa-now h2 { margin-top: 0; font-weight: 300; font-size: 24px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

@media (max-width: 599px) { .page-home .waa-now h2 { font-size: 20px; } }

.page-home .waa-now h3 { margin-top: 0; text-transform: uppercase; font-weight: 300; font-size: 27px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

@media (max-width: 599px) { .page-home .waa-now h3 { font-size: 20px; } }

.page-home .now-items { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 30px; }

@media (max-width: 599px) { .page-home .now-items { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.page-home .now-items > div { padding: 20px; width: 224px; border: 1px solid #6c6e70; border-left: 0; }

@media (max-width: 599px) { .page-home .now-items > div { margin-bottom: 10px; width: 100%; border-left: 1px solid #6c6e70; } }

.page-home .now-items > div:first-child { border-left: 1px solid #6c6e70; }

.page-home .now-items > div p { font-size: 14px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-home .now-items > div .waa-small-gray { margin-top: 15px; }

.page-home .now-items > div .type { color: #a30723; text-transform: uppercase; font-size: 29px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-home .now-items > div .date { margin-top: 15px; padding-top: 2px; padding-bottom: 5px; border-top: 1px solid #6c6e70; border-bottom: 1px solid #6c6e70; color: #6c6e70; font-size: 24px; font-family: Georgia, "Times New Roman", Times, serif; }

.page-home .now-items > div h3 { margin-top: 15px; margin-bottom: 0; text-transform: none; font-size: 24px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-home .now-items > div h4 { margin-top: 2px; font-weight: bold; font-size: 14px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-home .now-items > div a { text-transform: uppercase; font-weight: bold; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-home .waa-study { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 30px; margin-bottom: 20px; }

.page-home .waa-study .waa-study-box { margin-top: 20px; width: 100%; border: 1px solid #6c6e70; }

.page-home .waa-study .waa-study-box .box-header { padding: 5px; background-color: #6c6e70; color: #fff; text-align: center; text-transform: uppercase; letter-spacing: .2em; font-size: 22px; font-family: Georgia, "Times New Roman", Times, serif; }

@media (max-width: 599px) { .page-home .waa-study .waa-study-box .box-header { letter-spacing: 0; font-size: 18px; } }

.page-home .waa-study .waa-study-box .box-content { padding: 10px; }

.page-home .waa-study .waa-study-box .box-content h3 { margin-bottom: 5px; color: #a30723; text-transform: uppercase; font-weight: bold; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-home .waa-study .waa-study-box .box-content .box-content-row { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 15px; }

@media (max-width: 599px) { .page-home .waa-study .waa-study-box .box-content .box-content-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.page-home .waa-study .waa-study-box .box-content .box-content-row.second-row { margin-top: 25px; }

.page-home .waa-study .waa-study-box .box-content .box-content-row > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 50%; }

@media (max-width: 599px) { .page-home .waa-study .waa-study-box .box-content .box-content-row > div { width: 100%; } }

.page-home .waa-study .waa-study-box .box-content .box-content-row > div.col-left { margin-right: 35px; }

@media (max-width: 599px) { .page-home .waa-study .waa-study-box .box-content .box-content-row > div.col-right { margin-top: 20px; } }

.page-home .waa-study .waa-study-box .box-content .box-content-row > div > p { font-family: Georgia, "Times New Roman", Times, serif; }

.page-home .waa-study .study-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; height: 185px; border: 1px solid #000; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

@media (max-width: 599px) { .page-home .waa-study .study-item { height: 220px; } }

.page-home .waa-study .study-item .si-left { padding: 8px; width: 50%; }

.page-home .waa-study .study-item .si-left h4 { font-size: 14px; }

.page-home .waa-study .study-item .si-left p { margin-bottom: 0; font-size: 12px; }

.page-home .waa-study .study-item .si-left p a { display: block; margin-top: 5px; }

.page-home .waa-study .study-item .si-right { margin: 0; padding: 0; width: 50%; background-size: cover; background-repeat: no-repeat; }

.page-home .waa-study .study-item h4 { margin: 0; }

.page-home .waa-study .study-item .study-item-image { border: 1px solid #000; }

.page-home .waa-study .study-item .content { width: 50%; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-home .waa-study .study-item a { text-transform: uppercase; }

.page-membership h3, .page-donate h3 { color: #a30723; font-weight: bold; font-size: 14px; margin-bottom: 10px !important; margin-top: 20px; }

blockquote { border-left: 0; }

.page-education .exhibition-tiles { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.page-education .exhibition-tiles .tile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-right: 15px; margin-bottom: 15px; padding: 40px; width: 284px; height: 284px; background-size: cover; background-repeat: no-repeat; }

@media (max-width: 599px) { .page-education .exhibition-tiles .tile { margin-right: 0; width: 100%; } }

.page-education .exhibition-tiles .tile .exhibition-title { color: #fff; font-weight: bold; font-size: 32px; font-family: "Open Sans", Helvetica, Arial, sans-serif; line-height: 1; }

.page-education .exhibition-tiles .tile .exhibition-title a { color: #fff; }

.page-education .exhibition-tiles .tile .exhibition-title a:hover { text-decoration: none; }

.page-education .exhibition-tiles .tile .exhibition-subtitle { color: #fff; font-size: 24px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-education .row-bottom { margin-top: 20px; }

.page-education .row-bottom .caption p { margin-right: 20px; font-size: 20px; line-height: 26px; }

.page-education .row-bottom .opportunities { padding-left: 10px; border-left: 6px double #6c6e70; font-size: 17px; line-height: 24px; }

.page-education .row-bottom .opportunities .opportunities-title { margin-bottom: 5px; text-transform: uppercase; font-size: 30px; font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; }

.faculty-grid { margin-top: 40px; padding-top: 40px; border-top: 1px dotted #6c6e70; }

.faculty-grid .vertical-border { border-left: 1px dotted #6c6e70; }

.faculty-grid .row { margin-bottom: 30px; }

@media (max-width: 599px) { .faculty-grid .row { margin-bottom: 0; } }

@media (max-width: 599px) { .faculty-grid .row .col-md-4 { margin-bottom: 30px; border-bottom: 1px dotted #6c6e70; padding-bottom: 30px; } }

.faculty-grid .border:not(:last-of-type) { border-bottom: 1px dotted #6c6e70; margin-bottom: 30px; }

@media (max-width: 599px) { .faculty-grid .border:not(:last-of-type) { display: none; } }

.page-faculty .photo-credit { font-size: 7px; margin-top: 3px; }

.faculty-name { font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; font-weight: bold; margin-bottom: 6px; }

.faculty-description, .faculty-description p, .faculty-website, .faculty-website p { font-family: "Open Sans", Helvetica, Arial, sans-serif; font-size: 12px; line-height: 16px; margin-bottom: 0; }

.faculty-description p:not(:first-of-type) { text-indent: 10px; }

.faculty-website, .faculty-website p { font-size: 12px; margin-top: 10px; }

.faculty-website a, .faculty-website p a { font-weight: bold; color: #6c6e70; }

.faculty-photo { width: 125px; margin-bottom: 20px; }

.page-classes .tbd { text-align: center; padding: 60px; background-color: #eee; }

.page-classes .subhead-boxed { margin: 20px 0; padding: 10px; color: #fff; background-color: #a30723; text-align: center; }

.page-classes .subhead-boxed h2 { margin: 0; font-size: 30px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-classes .subhead-boxed h2 .smaller { font-size: 18px; }

.page-classes .lower-text { margin: 20px 0; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.page-classes .lower-text .lower-text-left { min-width: 256px; margin-right: 40px; }

.page-classes .lower-text .lower-text-right p { font-size: 14px; line-height: 18px; }

.page-classes .exhibition-tiles { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.page-classes .exhibition-tiles .tile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-right: 15px; margin-bottom: 15px; padding: 40px; width: 284px; height: 284px; background-size: cover; background-repeat: no-repeat; }

@media (max-width: 599px) { .page-classes .exhibition-tiles .tile { margin-right: 0; width: 100%; } }

.page-classes .exhibition-tiles .tile .exhibition-title { color: #fff; font-weight: bold; font-size: 32px; font-family: "Open Sans", Helvetica, Arial, sans-serif; line-height: 1; }

.page-classes .exhibition-tiles .tile .exhibition-title a { color: #fff; }

.page-classes .exhibition-tiles .tile .exhibition-title a:hover { text-decoration: none; }

.page-classes .exhibition-tiles .tile .exhibition-subtitle { color: #fff; font-size: 24px; font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.page-classes .row-bottom { margin-top: 20px; }

.page-classes .row-bottom .caption p { margin-right: 20px; font-size: 20px; line-height: 26px; }

.page-classes .row-bottom .opportunities { padding-left: 10px; border-left: 6px double #6c6e70; font-size: 17px; line-height: 24px; }

.page-classes .row-bottom .opportunities .opportunities-title { margin-bottom: 5px; text-transform: uppercase; font-size: 30px; font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; }

.page-donate .left-column-image { margin-top: 30px; }

@media (max-width: 599px) { .navbar-nav { margin-left: 15px; } }

.navbar-nav > li > a { padding: 10px 11px; color: #6d6e70; text-transform: uppercase; letter-spacing: .04em; font-size: 12px; }

.navbar-nav > li > a:hover { background-color: transparent; }

.navbar-nav > li.current-menu-item a { color: #a30723; }

.navbar-nav > li.menu-item-has-children .caret { display: none; }

@media (max-width: 599px) { .navbar-nav > li:first-child a { padding-left: 10px; } }

.navbar-nav > li:last-child a { padding-right: 0; }

.double-rule { margin: 0; height: 6px; border-top: 1px solid #a30723; border-right: 0; border-bottom: 1px solid #a30723; border-left: 0; background-color: transparent; }

.navbar-collapse { padding-top: 0; padding-right: 0; padding-left: 0; }

.input-xs { padding: 5px; height: 20px; border-color: #b6b7b8; border-radius: 0; font-size: 12px; line-height: 1.5; }

.waa-header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 15px 0; }

@media (max-width: 599px) { .waa-header { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.waa-header .header-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 122px; }

@media (max-width: 599px) { .waa-header .header-right { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100%; } }

.waa-header .header-right form { margin-bottom: 7px; }

.waa-header .header-right label { margin-bottom: 2px; text-transform: uppercase; font-weight: normal; font-size: 9px; }

.social-links { margin: 0; padding: 0; list-style: none; }

.social-links li { display: inline-block; }

.navbar-toggle .icon-bar { background-color: #a30723; }

.navbar-toggle { float: left; margin-left: 30px; border: 1px solid #a30723; color: #a30723; font-weight: bold; font-family: Georgia, "Times New Roman", Times, serif; }

.dmbs-footer .footer-rule { margin: 20px 0 30px; height: 1px; border-top: 1px solid #6d6e70; background-color: transparent; }

.dmbs-footer .larger { font-size: 15px; }

.dmbs-footer h3 { margin-bottom: 3px; color: #a30723; text-transform: uppercase; letter-spacing: .04em; font-weight: normal; font-size: 12px; font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; }

.dmbs-footer p { font-size: 12px; line-height: 16px; }

.dmbs-footer .footer-flex { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.dmbs-footer .footer-1 { margin-right: 30px; width: 263px; }

.dmbs-footer .footer-2 { margin-right: 30px; width: 165px; }

.dmbs-footer .footer-3 { margin-right: 30px; width: 155px; }

.dmbs-footer .footer-4 { width: 150px; }

.copyright { padding: 20px 0 40px; font-size: 11px; }
/*# sourceMappingURL=main.css.map */