.my-box { padding: 10px; }

@media (min-width: 1200px) { .my-box { padding: 20px; } }

@font-face { font-family: 'LTC Twentieth Century Medium'; src: url("../fonts/LTCTwentiethCenturyMedium.eot"); src: url("../fonts/LTCTwentiethCenturyMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/LTCTwentiethCenturyMedium.woff2") format("woff2"), url("../fonts/LTCTwentiethCenturyMedium.woff") format("woff"), url("../fonts/LTCTwentiethCenturyMedium.svg#webfont") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Helvetica LT Std Black'; src: url("../fonts/HelveticaLTStd-Blk.eot"); src: url("../fonts/HelveticaLTStd-Blk.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Blk.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Blk.woff") format("woff"), url("../fonts/HelveticaLTStd-Blk.svg#webfont") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Helvetica LT Std Bold'; src: url("../fonts/HelveticaLTStd-Bold.eot"); src: url("../fonts/HelveticaLTStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Bold.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Bold.woff") format("woff"), url("../fonts/HelveticaLTStd-Bold.svg#webfont") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Helvetica LT Std Light Condensed'; src: url("../fonts/HelveticaLTStd-LightCond.eot"); src: url("../fonts/HelveticaLTStd-LightCond.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-LightCond.woff2") format("woff2"), url("../fonts/HelveticaLTStd-LightCond.woff") format("woff"), url("../fonts/HelveticaLTStd-LightCond.svg#webfont") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Helvetica LT Std Light'; src: url("../fonts/HelveticaLTStd-Light.eot"); src: url("../fonts/HelveticaLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Light.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Light.woff") format("woff"), url("../fonts/HelveticaLTStd-Light.svg#webfont") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Helvetica LT Std Roman'; src: url("../fonts/HelveticaLTStd-Roman.eot"); src: url("../fonts/HelveticaLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaLTStd-Roman.svg#webfont") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Helvetica LT Std Light Oblique'; src: url("../fonts/HelveticaLTStd-LightObl.eot"); src: url("../fonts/HelveticaLTStd-LightObl.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-LightObl.woff2") format("woff2"), url("../fonts/HelveticaLTStd-LightObl.woff") format("woff"), url("../fonts/HelveticaLTStd-LightObl.svg#webfont") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Helvetica LT Std Oblique'; src: url("../fonts/HelveticaLTStd-Obl.eot"); src: url("../fonts/HelveticaLTStd-Obl.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Obl.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Obl.woff") format("woff"), url("../fonts/HelveticaLTStd-Obl.svg#webfont") format("svg"); font-weight: normal; font-style: normal; }

body { font-family: "Helvetica LT Std Roman", Helvetica, Arial, sans-serif; line-height: 1.2; color: #6d6e70; }

h1, h2, h3, h4, h5 { font-weight: normal; }

h1 b, h2 b, h3 b, h4 b, h5 b { font-weight: normal; }

h2.page-header { font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; color: #a30723; font-size: 50px; line-height: 1.2; padding-bottom: 0px; margin: -15px 0 10px; border-bottom: 0; font-weight: normal; }

.wpb_text_column.page-header { margin: 0; border-bottom: 0; }

.wpb_text_column.page-header h2 { font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; color: #a30723; font-size: 50px; line-height: 1.2; padding-bottom: 0px; margin: 0; border-bottom: 0; font-weight: normal; }

h3 { font-family: "Helvetica LT Std Roman", Helvetica, Arial, sans-serif; font-size: 16px; margin-top: 0; font-weight: normal; }

p { font-family: "Helvetica LT Std Roman", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.25; }

.image-caption { margin-top: 5px; }

.image-caption p { font-size: 10px; line-height: 12px; margin-bottom: 0; margin-right: 20px; }

.photo-credit { font-family: "Helvetica LT Std Light", Helvetica, Arial, sans-serif; font-size: 9px; margin-top: 3px; margin-bottom: 10px; }

body { background-color: #e2e2e2; }

body > .container { background-color: #fff; }

.wpb_content_element { margin-bottom: 10px; }

.vc_column_container > .vc_column-inner { box-sizing: border-box; padding-left: 30px; padding-right: 30px; width: 100%; }

.wpb_column:first-child > .vc_column-inner { padding-left: 15px; }

.wpb_column:last-child > .vc_column-inner { padding-right: 15px; }

.row-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (max-width: 599px) { .row-flex { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media (max-width: 599px) { .row-flex > div { width: 100% !important; } }

textarea { border-color: #bfbfbf !important; }

.ngg-navigation a.next, .ngg-navigation a.page-numbers, .ngg-navigation a.prev, .ngg-navigation span.next, .ngg-navigation span.page-numbers, .ngg-navigation span.prev { border: 0 !important; margin-right: 0; padding: 0; text-decoration: none; color: #a30723 !important; }

.navbar-nav > li > a { color: #6d6e70; text-transform: uppercase; font-size: 12px; padding: 10px 13px; letter-spacing: .0255em; }

.navbar-nav > li > a:hover { background-color: transparent; }

.navbar-nav > li.current-menu-item a { color: #a30723; }

.navbar-nav > li.menu-item-has-children .caret { display: none; }

.navbar-nav > li:first-child a { padding-left: 0; }

.navbar-nav > li:last-child a { padding-right: 0; }

.double-rule { height: 6px; border-top: 1px solid #a30723; border-bottom: 1px solid #a30723; border-left: 0; border-right: 0; background-color: transparent; margin: 0; }

.navbar-collapse { padding-left: 0; padding-right: 0; padding-top: 0; }

.input-xs { height: 20px; padding: 5px; font-size: 12px; line-height: 1.5; border-radius: 0; border-color: #b6b7b8; }

.waa-header { padding: 15px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.waa-header .header-right { width: 122px; }

.waa-header .header-right form { margin-bottom: 7px; }

.waa-header .header-right label { font-size: 9px; font-weight: normal; text-transform: uppercase; margin-bottom: 2px; }

.social-links { list-style: none; margin: 0; padding: 0; }

.social-links li { display: inline-block; }

.dmbs-footer .footer-rule { background-color: #6d6e70; height: 1px; margin: 20px 0 30px; }

.dmbs-footer .larger { font-size: 15px; }

.dmbs-footer h3 { font-family: "LTC Twentieth Century Medium", Helvetica, Arial, sans-serif; color: #a30723; font-size: 12px; text-transform: uppercase; letter-spacing: .04em; font-weight: normal; margin-bottom: 3px; }

.dmbs-footer p { font-size: 12px; line-height: 16px; }

.trustees .col-left h3, .trustees .col-main h3, .trustees .col-right h3 { font-family: "Helvetica LT Std Bold", Helvetica, Arial, sans-serif; font-size: 14px; text-transform: uppercase; font-weight: normal; }

.trustees { margin-top: 20px; }

.trustees .trustee-list p { font-family: "Helvetica LT Std Light", Helvetica, Arial, sans-serif; line-height: 1.33; margin-bottom: 6px; font-size: 12px; }

.trustees .trustee-list p i { font-style: normal; font-family: "Helvetica LT Std Light Oblique", Helvetica, Arial, sans-serif; }

.trustees .trustee-list h4 { font-family: "Helvetica LT Std Bold", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; margin-bottom: 3px; margin-top: 20px; }

.trustees .trustee-list h4:first-of-type { margin-top: 0; }

.trustees .col-left { width: 475px; margin-right: 60px; }

.trustees .col-main { width: 786px; margin-right: 60px; }

.trustees .col-right { width: 390px; }

.trustees .trustee-photos li:last-child { margin-top: 20px; }

.trustees .trustee-pdf-downloads { border-top: 4px solid #000; border-bottom: 4px solid #000; padding-top: 10px; padding-bottom: 5px; margin-top: 30px; }

.trustees .trustee-pdf-downloads ul { list-style: none; padding-left: 0; }

.trustees .trustee-pdf-downloads ul li { margin-bottom: 10px; }

.trustees .trustee-pdf-downloads ul li a { color: #fff; text-transform: uppercase; font-size: 9px; background-color: #6d6e70; padding: 6px 6px 4px; border-radius: 6px; }

.page.page-id-87 h4 { font-weight: bold; font-size: 14px; color: #a30723; }

.page.page-id-87 .second-column h4 { margin-top: 0; }

.page.page-id-87 ul { padding-left: 1em; }

.page.page-id-87 li { margin-bottom: 10px; }

.page.page-id-87 li b { font-family: "Helvetica LT Std Bold", Helvetica, Arial, sans-serif; color: #a30723; font-weight: normal; }

.page.page-id-87 .dmbs-content form { padding: 10px; border: 1px dashed #6d6e70; }

.page.page-id-87 .dmbs-content form input[type='submit'] { background-color: #fff; border: 0; color: #a30723; text-transform: uppercase; font-size: 14px; margin-left: 10px; }

.page.page-id-87 .gform_footer { margin-top: 0; padding-top: 0; }

.page.page-id-87 .address { margin-left: 20px; }

.page-id-203 h3 { text-transform: uppercase; font-family: "Helvetica LT Std Bold", Helvetica, Arial, sans-serif; color: #6d6e70; margin-bottom: 5px; }

.page-id-203 .news-content { font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; }

.page-id-203 .news-content i { display: block; }

.page-id-203 .news-source { font-family: "Helvetica LT Std Bold", Helvetica, Arial, sans-serif; font-size: 12px; margin-bottom: 2px; }

.page-id-203 .news-date { font-family: "Helvetica LT Std Light", Helvetica, Arial, sans-serif; font-size: 12px; margin-bottom: 10px; }

.page-id-203 .news-link { margin-top: 10px; }

.page-id-203 .news-link a { font-family: Georgia, "Times New Roman", Times, serif; color: #a30723; text-transform: uppercase; }

.page-id-203 .news-item-block { border-top: 4px solid #000; padding-top: 10px; }
/*# sourceMappingURL=main.css.map */