@import url("//hello.myfonts.net/count/32edde");

@font-face {
  font-family: 'LTCTwentiethCenturyMedium';
  src: url('../fonts/32EDDE_0_0.eot');
  src: url('../fonts/32EDDE_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/32EDDE_0_0.woff2') format('woff2'), url('../fonts/32EDDE_0_0.woff') format('woff'), url('../fonts/32EDDE_0_0.ttf') format('truetype');
}