.dmbs-footer {
  .footer-rule {
    background-color: transparent;
    height: 1px;
    margin: 20px 0 30px;
    border-top: 1px solid #6d6e70;
  }
  .larger {
    font-size: 15px;
  }
  h3 {
    font-family: $twentieth;
    color: $maroon;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-weight: normal;
    margin-bottom: 3px;
  }
  p {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-flex {
    justify-content: space-between;
  }
  .footer-1 {
    width: 283px;
    margin-right: 30px;
  }
  .footer-2 {
    width: 165px;
    margin-right: 30px;
  }
  .footer-3 {
    width: 155px;
    margin-right: 30px;
  }
  .footer-4 {
    width: 150px;
  }
}
.copyright {
  font-size: 11px;
  padding: 20px 0 40px;
}
