.dmbs-footer {
  .footer-rule {
    background-color: transparent;
    height: 1px;
    margin: 20px 0 30px;
    border-top: 1px solid #6d6e70;
  }
  .larger {
    font-size: 15px;
  }
  h3 {
    font-family: $twentieth;
    color: $maroon;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-weight: normal;
    margin-bottom: 3px;
  }
  p {
    font-size: 12px;
    line-height: 16px;
  }
}