.navbar-nav {
  > li {
    > a {
      color: #6d6e70;
      text-transform: uppercase;
      font-size: 12px;
      padding: 10px 13px;
      letter-spacing: .0255em;
      &:hover {
        background-color: transparent;
      }
    }
    &.current-menu-item {
      a {
        color: $maroon;
      }
    }
    &.menu-item-has-children {
      .caret {
        display: none;
      }
    }

    &:first-child {
      a {
        padding-left: 0;
      }
    }

    &:last-child {
      a {
        padding-right: 0;
      }
    }
  }
}

.double-rule {
  height: 6px;
  border-top: 1px solid $maroon;
  border-bottom: 1px solid $maroon;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  margin: 0;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.input-xs {
  height: 20px;
  padding: 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
  border-color: #b6b7b8;
}

.waa-header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  .header-right {
    width: 122px;
    form {
      margin-bottom: 7px;
    }
    label {
      font-size: 9px;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 2px;
    }
  }
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
  }
}