body {
  background-color: $bg-outer;

  > .container {
    background-color: $bg-main;
  }
}

.wpb_content_element {
  margin-bottom: 25px;
}

.vc_column_container > .vc_column-inner {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.wpb_column {
  &:first-child {
    > .vc_column-inner {
      padding-left: 15px;
    }
  }
  &:last-child {
    > .vc_column-inner {
      padding-right: 15px;
    }
  }
}