body {
  background-color: $bg-outer;

  > .container {
    background-color: $bg-main;
  }
}

// damn bootstrap
@media all {
  @media (min-width: 1200px) {
    .container {
      width: 960px;
    }
  }
}

@media all {
  @media (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
}

.wpb_content_element {
  margin-bottom: 10px;
}

.vc_column_container > .vc_column-inner {
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
}

.wpb_column {
  &:first-child {
    > .vc_column-inner {
      padding-left: 15px;
    }
  }
  &:last-child {
    > .vc_column-inner {
      padding-right: 15px;
    }
  }
}

.row-flex {
  @include for-phone-only {
    flex-direction: column;
  }

  display: flex;

  > div {
    @include for-phone-only {
      width: 100% !important;
    }
  }
}

textarea {
  border-color: #bfbfbf !important;
}

.ngg-navigation a.next,
.ngg-navigation a.page-numbers,
.ngg-navigation a.prev,
.ngg-navigation span.next,
.ngg-navigation span.page-numbers,
.ngg-navigation span.prev {
  margin-right: 0;
  padding: 0;
  border: 0 !important;
  color: $maroon !important;
  text-decoration: none;
}
