body {
  background-color: $bg-outer;

  > .container {
    background-color: $bg-main;
  }
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  max-width: 960px;
}

.wpb_content_element {
  margin-bottom: 25px;
}

.vc_column_container > .vc_column-inner {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
