// font variable defs
$twentieth: 'LTC Twentieth Century Medium', Helvetica, Arial, sans-serif;
$sans: 'Open Sans', Helvetica, Arial, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, serif;
$body-text-size: 14px;

body {
  color: $gray;
  font-family: $sans;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;

  b {
    font-weight: normal;
  }
}

h2.page-header {
  margin: -15px 0 10px;
  padding-bottom: 0;
  border-bottom: 0;
  color: $maroon;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 50px;
  font-family: $twentieth;
  line-height: 1.2;
  @include for-phone-only {
    font-size: 40px;
  }
}

.wpb_text_column.page-header {
  margin: 0;
  border-bottom: 0;

  h2 {
    margin: 0;
    padding-bottom: 0;
    border-bottom: 0;
    color: $maroon;
    font-weight: normal;
    font-size: 50px;
    font-family: $twentieth;
    line-height: 1.2;
  }
}

h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: $sans;
}

p {
  font-size: $body-text-size;
  font-family: $sans;
  line-height: 1.25;
}

.image-caption {
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 9px;
  line-height: 1.2;
}

@mixin redbullets {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 1em;
    text-indent: -.7em;

    &:before {
      content: "• ";
      color: $maroon;
    }
  }
}

.photo-credit {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  font-family: $sans;
  color: $gray;
}

a {
  color: $maroon;
}

.social-links {
  li {
    margin-right: 5px;
    a {
      color: $gray;
    }
    i.fa {
      font-size: 22px;

    }
  }
}
