// font variable defs
$twentieth: 'LTC Twentieth Century Medium', Helvetica, Arial, sans-serif;
$helvetica: 'Helvetica LT Std Roman', Helvetica, Arial, sans-serif;
$helvetica-light: 'Helvetica LT Std Light', Helvetica, Arial, sans-serif;
$helvetica-bold: 'Helvetica LT Std Bold', Helvetica, Arial, sans-serif;
$helvetica-black: 'Helvetica LT Std Black', Helvetica, Arial, sans-serif;
$helvetica-light-condensed: 'Helvetica LT Std Light Condensed', Helvetica, Arial, sans-serif;
$body-text-size: 14px;

body {
  font-family: $helvetica;
  line-height: 1.2;
  color: #6d6e70;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h2.page-header {
  font-family: $twentieth;
  color: $maroon;
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 0px;
  margin: -15px 0 10px;
  border-bottom: 0;
  font-weight: normal;
}

.wpb_text_column.page-header {
  margin: 0;
  border-bottom: 0;

  h2 {
    font-family: $twentieth;
    color: $maroon;
    font-size: 50px;
    line-height: 1.2;
    padding-bottom: 0px;
    margin: 0;
    border-bottom: 0;
    font-weight: normal;
  }
}

h3 {
  font-family: $helvetica;
  font-size: 16px;
  margin-top: 0;
  font-weight: normal;
}

p {
  font-family: $helvetica;
  font-size: $body-text-size;
  line-height: 1.25;
}

.image-caption {
  p {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.photo-credit {
  font-family: $helvetica-light;
  font-size: 9px;
  margin-top: 3px;
  margin-bottom: 10px;
}