// font variable defs
$twentieth: 'LTC Twentieth Century Medium', Helvetica, Arial, sans-serif;
$sans: 'Open Sans', Helvetica, Arial, sans-serif;
$georgia: Georgia, 'Times New Roman', Times, serif;
$body-text-size: 14px;

body {
  color: #6d6e70;
  font-family: $sans;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;

  b {
    font-weight: normal;
  }
}

h2.page-header {
  margin: -15px 0 10px;
  padding-bottom: 0;
  border-bottom: 0;
  color: $maroon;
  font-weight: normal;
  font-size: 50px;
  font-family: $twentieth;
  line-height: 1.2;
}

.wpb_text_column.page-header {
  margin: 0;
  border-bottom: 0;

  h2 {
    margin: 0;
    padding-bottom: 0;
    border-bottom: 0;
    color: $maroon;
    font-weight: normal;
    font-size: 50px;
    font-family: $twentieth;
    line-height: 1.2;
  }
}

h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: $sans;
}

p {
  font-size: $body-text-size;
  font-family: $sans;
  line-height: 1.25;
}

.image-caption {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 0;
  font-size: 10px;
  line-height: 1.2;
}

.photo-credit {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 9px;
  font-family: $sans;
}

a {
  color: $maroon;
}

.gform_wrapper h3.gform_title {
  font-weight: normal !important;
}

.gform_wrapper label.gfield_label {
  margin-bottom: 0 !important;
  font-weight: normal !important;
  font-size: 12px !important;
  font-size: inherit;
}

body .gform_wrapper .top_label div.ginput_container {
  margin-top: 0 !important;
}
