.page-exhibitions {
  .exhibition-tiles {
    display: flex;
    flex-wrap: wrap;

    .tile {
      margin-right: 15px;
      margin-bottom: 15px;
      width: 284px;
      height: 284px;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;

      .exhibition-title {
        color: #fff;
        font-family: $helvetica-bold;
        font-size: 32px;
        line-height: 1;
        a {
          color: #fff;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .exhibition-subtitle {
        color: #fff;
        font-family: $helvetica;
        font-size: 24px;
      }
    }
  }

  .row-bottom {
    margin-top: 20px;

    .caption p {
      font-size: 20px;
      line-height: 26px;
      margin-right: 20px;
    }

    .opportunities {
      font-size: 17px;
      line-height: 24px;
      border-left: 6px double $gray;
      padding-left: 10px;

      .opportunities-title {
        font-size: 30px;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: $twentieth;
      }
    }
  }
}