.faculty-grid {
  margin-top: 40px;
  padding-top: 40px;
  border-top: $dotrule;

  .vertical-border {
    border-left: $dotrule;
  }

  .row {
    margin-bottom: 30px;
    @include for-phone-only {
      margin-bottom: 0;
    }

    .col-md-4 {
      // border-left: $dotrule;
      @include for-phone-only {
        margin-bottom: 30px;
        border-bottom: $dotrule;
        padding-bottom: 30px;
      }
    }
  }

  .border:not(:last-of-type) {
    border-bottom: $dotrule;
    margin-bottom: 30px;
    @include for-phone-only {
      display: none;
    }
  }
}

// overrides for this page
.page-faculty {
  .photo-credit {
    font-size: 7px;
    margin-top: 3px;
  }
}

.faculty-name {
  font-family: $georgia;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
}

.faculty-description,
.faculty-description p,
.faculty-website,
.faculty-website p {
  font-family: $sans;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
}

.faculty-website,
.faculty-website p {
  font-size: 12px;
  margin-top: 10px;

  a {
    font-weight: bold;
    color: $gray;
  }
}

.faculty-photo {
  width: 125px;
  margin-bottom: 20px;
}