.page-home {
  .waa-now {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 45px;
      font-weight: normal;
      margin-top: 24px;
      margin-bottom: 5px;
      @include for-phone-only {
        font-size: 34px;
      }
    }

    h2 {
      font-family: $helvetica-light;
      font-size: 24px;
      margin-top: 0;
      @include for-phone-only {
        font-size: 20px;
      }
    }

    h3 {
      font-family: $helvetica-light;
      font-size: 27px;
      margin-top: 0;
      text-transform: uppercase;
      @include for-phone-only {
        font-size: 20px;
      }
    }
  }

  .now-items {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @include for-phone-only {
      flex-direction: column;
    }

    > div {
      width: 224px;
      padding: 20px;
      border: 1px solid $gray;
      border-left: 0;
      @include for-phone-only {
        width: 100%;
        border-left: 1px solid $gray;
        margin-bottom: 10px;
      }

      &:first-child {
        border-left: 1px solid $gray;
      }

      // img {
      //   width: 184px;
      //   height: 147px;
      // }

      p {
        font-family: $georgia;
        font-size: 14px;
      }

      .waa-small-gray {
        margin-top: 15px;
      }

      .type {
        font-family: $georgia;
        text-transform: uppercase;
        font-size: 29px;
        color: $maroon;
      }

      .date {
        color: $gray;
        font-family: $georgia;
        font-size: 24px;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        padding-bottom: 5px;
        padding-top: 2px;
        margin-top: 15px;
      }

      h3 {
        text-transform: none;
        font-family: $helvetica;
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 0;
      }

      h4 {
        font-family: $helvetica-bold;
        font-size: 14px;
        margin-top: 2px;
      }

      a {
        font-family: $helvetica-bold;
        text-transform: uppercase;
      }
    }
  }

  .waa-study {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;

    .waa-study-box {
      border: 1px solid $gray;
      width: 100%;
      margin-top: 20px;

      .box-header {
        background-color: $gray;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 22px;
        font-family: $georgia;
        padding: 5px;
        letter-spacing: .2em;
        @include for-phone-only {
          letter-spacing: 0;
          font-size: 18px;
        }
      }

      .box-content {
        padding: 10px;

        h3 {
          font-family: $helvetica-bold;
          color: $maroon;
          text-transform: uppercase;
          margin-bottom: 5px;
        }

        .box-content-row {
          display: flex;
          margin-top: 15px;
          @include for-phone-only {
            flex-direction: column;
          }

          &.second-row {
            margin-top: 25px;
          }

          > div {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.col-left {
              margin-right: 35px;
            }
            @include for-phone-only {
              width: 100%;
            }
            &.col-right {
              @include for-phone-only {
                margin-top: 20px
              }
            }

            > p {
              font-family: $georgia;
            }
          }
        }
      }
    }

    .study-item {
      border: 1px solid #000;
      display: flex;
      align-items: stretch;
      font-family: $helvetica;
      height: 185px;
      @include for-phone-only {
        height: 220px;
      }

      .si-left {
        padding: 8px;
        width: 50%;

        h4 {
          font-size: 14px;
        }

        p {
          margin-bottom: 0;
          font-size: 12px;

          a {
            margin-top: 5px;
            display: block;
          }
        }
      }

      .si-right {
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        padding: 0;
        margin: 0;
      }

      h4 {
        margin: 0;
      }

      .study-item-image {
        border: 1px solid #000;
      }

      .content {
        font-family: $helvetica;
        width: 50%;
      }

      a {
        text-transform: uppercase;
      }
    }
  }
}