.page-participate {
  h4 {
    margin-top: 10px;
    margin-bottom: 3px;
    color: $maroon;
    font-weight: bold;
    font-size: 14px;
    font-family: $sans;
    line-height: 1.4;
  }
  .middle-column h4 {
    margin-top: 0;
  }
  .left-column img {
    margin-top: 60px;
  }
  ul {
    padding-left: 1em;
  }
  li {
    margin-bottom: 10px;

    b {
      color: $maroon;
      font-weight: normal;
      font-family: $sans;
    }
  }

  .address {
    margin-left: 20px;
  }
  .gform_title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    font-family: $sans;
  }
  blockquote {
    padding-top: 0;
    border-left: 0;
  }
}