.page-id-203 {

    h3 {
      text-transform: uppercase;
      font-family: $helvetica-bold;
      color: $gray;
      margin-bottom: 5px;
    }



  .news-content {
    font-family: $georgia;
    font-size: 13px;
    i {
      display: block;
    }
  }

  .news-source {
    font-family: $helvetica-bold;
    font-size: 12px;
    margin-bottom: 2px;
  }

  .news-date {
    font-family: $helvetica-light;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .news-link {
    margin-top: 10px;
    a {
      font-family: $georgia;
      color: $maroon;
      text-transform: uppercase;
    }
  }
  .news-item-block {
    border-top: 4px solid #000;
    padding-top: 10px;
  }
}