.page-welcome {
  .row-flex {
    justify-content: flex-end;
  }
  .dmbs-content {
    min-height: 700px;
    background-image: url('../images/member-patterson-michael.jpg');
    background-repeat: no-repeat;
    background-position: 50px bottom;
    margin-bottom: -21px;
  }
  .col-right {
    width: 315px;
    margin-right: 60px;
  }
  .col-center {

  }
}