.page-welcome {
  .row-flex {
    justify-content: flex-end;
  }
  .dmbs-content {
    @include for-phone-only {
      min-height: 0;
      background-image: none;
    }

    position: relative;
    margin-bottom: -21px;
    min-height: 660px;
    background-image: url('../images/member-patterson-michael.jpg');
    background-position: 30px bottom;
    background-repeat: no-repeat
  }
  .col-right {
    @include for-phone-only {
      width: 100%;
    }

    margin-right: 60px;
    width: 315px;

    .extra-block {
      @include for-phone-only {
        margin-top: 0;
      }

      margin-top: 60px
    }
  }
  .col-center {
    @include for-phone-only {
      margin-right: 0;
      width: 100%;

      > ul > li {
        margin-bottom: 20px !important;
      }
    }

    margin-right: 50px;

    > ul > li:first-child {
      margin-bottom: 50px;
    }

  }
  .bottom-credit {
    @include for-phone-only {
      display: none;
    }

    position: absolute;
    right: 30px;
    bottom: 0
  }
}